* {
    margin: 0;
    font-family: Louis George Café;
}

body {
    background-color: #D5D5D5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;
    margin: 2rem 1rem;
    font-size: 1.5rem;
}

#lista2 {
    margin: 2rem 1rem 1rem 18rem;
}

li img {
    max-width: 80%;
}

#lista {
    float: left;
    margin: 1rem;
}

header li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.7rem;
}

header li a:hover:not(.active) {
    background-color: #55008D;
    opacity: 0.2;
}

.active {
    background-color: #55008D;
}

#grupo {
    display: block;
    background-color: #232A50;
    float: left;
}

#titulo {
    background-color: #232a5060;
    display: block;
    padding: 1rem 5rem;
    color: white;
}

#grupo {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#grupo li {
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: #445181;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    width: 80%;
    text-align: center;
}

#perfil img {
    max-width: 10%;
    padding: 1rem;
}

#perfil {
    background-color: #161C3B;
    margin: 1rem 1rem 1rem 16rem;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.programador {
    float: left;
    width: 30%;
}

footer p {
    padding: 0.2rem;
}

footer {
    margin: 8rem 0 0 0;
    background-color: #363535;
    color: white;
}

footer img {
    max-width: 15%;
}

footer section {
    float: left;
    width: 12%;
    padding: 2rem 5rem;
    text-align: center;
}

#redes {
    text-align: inherit;
}

#centrarR {
    text-align: center;
}

#derechos {
    margin-top: 13rem;
    text-align: center;
    background-color: #191717;
    padding: 1rem;
}